
.forecast {
    max-width: 60%;
    width: fit-content;
    margin: auto 0;

    background: rgba(37, 37, 37, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(37, 37, 37, 0.38);

    color: var(--white);
}

.forecast h4 {
    margin: 1rem auto 0 auto;
    font-size: 1.2rem;
    font-weight: 300;
}

.forecast label {
    font-weight: 100;
    font-size: 1rem;
}

table {
    max-width: 100%;
    width: fit-content;
    /* border-collapse: collapse; */
    
    margin: 1rem auto;
    border-spacing:  2rem 0;

    font-weight: 200;
}

.weather-info {
    display: flex;
    align-items: center;
    
}

@media screen and (max-width: 600px) {
    .forecast {
        max-width: 100%;
        margin: 2rem auto;
    }
    
    .forecast h4 {
        font-size: 1.5rem;
    }
    
    table {
        max-width: 100%;
        border-spacing: 1.4rem 1rem;
        padding: 0;

        font-weight: 200;
        
    }
    
    .weather-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
}